.alert {
  max-height: 50px;
  margin-bottom: 0.25rem;
  padding: 0.5rem;
  border-radius: 0.25rem;
  font-size: 0.75rem;
  display: none;
}

.alert--error {
  background: #f8d7da;
  color: #721c24;
  display: block;
}

.alert--success {
  background: #d4edda;
  color: #155724;
  display: block;
}
