@import url('/assets/styles/reset.css');
@import url('/assets/styles/left.css');
@import url('/assets/styles/right.css');
@import url('/assets/styles/form.css');
@import url('/assets/styles/buttons.css');
@import url('/assets/styles/app-stores.css');
@import url('/assets/styles/links.css');
@import url('/assets/styles/alert.css');

.container {
  display: flex;
  flex-direction: row;
  height: auto;
  width: 100%;
  min-height: 100svh;
  font-family: Poppins, sans-serif;
}

@media (max-width: 767px) {
  .container {
    flex-direction: column;
    min-height: auto;
  }
}
